.RecipeListNav__list {
  list-style-type: none;
  margin: 130px 0 0;
  padding: 0;
}

.RecipeListNav__button-wrapper {
  margin: 0 0 0 auto;
  max-width: 180px;
}

.RecipeListNav__add-folder-button {
  margin: 20px auto;
}
.RecipeListNav__add-folder-button:hover {
  background-color: #c8556a;
  color: white;
}

.RecipeListNav__folder-link {
  background-color: #8a6f78;
  color: #ffffff;
  display: block;
  font-family: var(--custom-font);
  font-size: 20px;
  margin: 0 0 8px auto;
  max-width: 180px;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 3px;
}
.RecipeListNav__folder-link:hover {
  color: #f5e553;
  cursor: pointer;
}
.RecipeListNav__folder-link.active {
  background-color: #c8556a;
}

.RecipeListNav__num-recipes {
  color: #8a6f78;
  display: block;
  float: right;
  font-size: 14px;
  font-weight: bold;
  background-color: #ffffff;
  padding: 4px;
  width: 10px;
  text-align: center;
  border-radius: 3px;
}

@media only screen and (max-width: 500px) {
  .RecipeListNav__folder-link {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
  }
}
