.LandingPage h3 {
  color: #ffffff;
}

.LandingPage h1 {
  color: #181417;
}
.LandingPage p {
  /* color: #181417; */
  color: #181417;
  font-size: 17px;
}

.LandingPage img {
  width: 50%;
  border-radius: 3px;
  float: left;
  margin-right: 5px;
}

.LandingPage__main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  margin: 5px;
}

.LandingPage__get-started-button-container {
  max-width: 380px;
  margin: 0 10px;
}

.LandingPage__get-started-button {
  margin: 0 auto 20px;
  font-size: 16px;
}
.LandingPage__get-started-button:hover {
  background-color: #c8556a;
  color: whitesmoke;
}

.LandingPage section {
  background-color: #c29eaa;
  padding: 10px;
  margin: 8px;
}

.LandingPage section:nth-child(odd) {
  background-color: #8a6f78;
}

@media only screen and (min-width: 1300px) {
  .LandingPage p {
    font-size: 16px;
  }
}
