.AddRecipe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddRecipe__header {
  color: #443843;
}

.AddRecipe label {
  color: #000000;
}

.ARecipe input,
textarea {
  border-radius: 3px;
}

.AddRecipe h1 {
  margin-left: 18px;
}

@media only screen and (max-width: 380px) {
  .AddRecipe h1 {
    text-align: center;
  }
}
